# mongod.conf
# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: /var/lib/mongodb
  journal:
    enabled: true

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

# network interfaces
net:
  port: 27017
  # WICHTIG: Erlaubt den Zugriff von Graylog und nicht nur lokal
  bindIp: {{ mongodb_bind_ip }}

# process management
processManagement:
  timeZoneInfo: /usr/share/zoneinfo

# security
#security:

# WICHTIG: Konfiguriert das Replica Set, das Graylog benötigt
replication:
  replSetName: "{{ mongodb_repl_set_name }}"

#sharding:
