# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: /var/lib/mongodb
  journal:
    enabled: true

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

# network interfaces
net:
  port: 27017
  # This is set to true to allow Graylog to connect from another server or container.
  # For production, it's recommended to bind to a specific IP address for security.
  # Example: bindIp: 127.0.0.1,192.168.1.10
  bindIpAll: true

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

security:

#operationProfiling:

#replication:

#sharding:

## Enterprise-Only Options:

#auditLog:

#snmp:
