# This file is managed by Ansible.
# Default file for graylog-server.
#
# This file is sourced by /usr/share/graylog-server/bin/graylog-server.

# Path to the java executable.
#JAVA=/usr/bin/java

# Default Java options for the graylog-server.
GRAYLOG_SERVER_JAVA_OPTS="{{ graylog_server_java_opts }}"

# Heap size for the graylog-server.
#GRAYLOG_SERVER_HEAP_SIZE=1g
